# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
*.tfplan
infra/*.zip
infra/.generated/

# Python
__pycache__/
*.pyc

# PowerShell
*.psd1
*.psm1.tmp

# Misc
.DS_Store
Thumbs.db
.idea/
.vscode/

