@{
    RootModule        = '${root_module}'
    ModuleVersion     = '${version}'
    GUID              = '${guid}'
    Author            = 'Azure Policy Exemptions Auditor'
    CompanyName       = 'Azure Policy Exemptions Auditor'
    Description       = '${description}'
    PowerShellVersion = '7.0'
    FunctionsToExport = '*'
    CmdletsToExport   = '*'
    AliasesToExport   = '*'
    PrivateData       = @{
        PSData = @{
            Tags = @('Azure', 'Automation', 'Policy')
        }
    }
}
